.entry {
  height: 500px;
  background-color: #f5f5f5;
}

.entry .w {
  height: 100%;
  background: url(../uploads/banner1.png) no-repeat;
}

.fenlei {
  width: 250px;
  height: 500px;
  background-color: rgba(0, 0, 0, .42);
}

.fenlei ul {
  padding-inline-start: 0px;
}

.fenlei ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 12px 0 29px;
  color: #fff;
}

.fenlei ul li a {
  color: #fff;
  font-size: 14px;
}

.fenlei ul li a:first-child {
  font-size: 16px;
  margin-right: 10px;
}

.fenlei ul li:hover {
  background-color: #5eb69c;
}

.box-hd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  /* background-color: pink; */
}

.box-hd h2 {
  font-size: 30px;
}

.box-hd h2 small {
  font-size: 16px;
  color: #a1a1a1;
  margin-left: 30px;
}

.box-hd a {
  font-size: 16px;
  color: #a1a1a1;
}

.box-bd ul {
  display: flex;
  justify-content: space-between;
}

.box-bd ul li {
  width: 304px;
  height: 404px;
  background-color: #eef9f4;
}

.box-bd ul li a {
  display: block;
  width: 100%;
  height: 100%;
}

.box-bd ul li img {
  width: 304px;
  height: 304px;
}

.box-bd ul li .title {
  /* margin: 18px 0 15px 0; */
  font-size: 20px;
  /* padding: 0 25px; */
  /* 文字居中显示 */
  text-align: center;
  /* 单行文字溢出显示省略号 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.box-bd ul li .price {
  font-size: 22px;
  color: #ff6600;
  text-align: center;
}

.box-bd ul li .price small {
  font-size: 16px;
}

.hot .box-bd ul li {
  background-color: #fff;
}

.hot {
  margin-bottom: 60px;
}

.box-bd ul li .desc {
  font-size: 16px;
  color: #a1a1a1;
  text-align: center;
}

.boss {
  width: 1240px;
}

.boss .box-bd ul li a {
  width: 239px;
  height: 305px;
}

.boss .box-bd ul li img {
  width: 239px;
  height: 305px;
}

.boss .box-bd ul li {
  background-color: #636060;
}

.boss .box-bd .arrow a {
  margin: 0 20px;
}

.boss .box-bd ul li {
  width: 239px;
  height: 305px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 102px;
  padding-top: 10px;
  /* background-color: #636060; */
}

.head h2 {
  font-size: 30px;
}

.head .head-right {
  display: flex;
  gap: 65px;
}

.head .head-right>a {
  font-size: 16px;
  color: #a1a1a1
}

.head .head-right ul li a {
  padding: 3px 8px;
}

.head .head-right ul {
  display: flex;
  gap: 10px;
}

.head .head-right ul li a:hover {
  color: #f5f5f5;
  padding: 3px 8px;
  background-color: #00be9a;
}

.body {
  display: flex;
  justify-content: space-between;
}

.body-l {
  width: 248px;
  height: 610px;
}

.body-r {
  width: 968px;
  height: 610px;
}

.body-r li {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 305px;
  padding: 10px 21px 0;
  float: left;
  /* background-color: pink; */
}

.body-r li .title {
  margin-top: 10px;
  font-size: 16px;

}

.body-r li a {
  display: block;
  line-height: 10px;
  width: 100%;
  height: 100%;
}

.body-r li img {
  width: 200px;
  height: 180px;
}

.body-r li .price {
  font-size: 22px;
  color: #ff6600;
  margin-top: 12px;
}

.body-r li .price small {
  font-size: 16px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.news ul {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.news ul li {
  flex: 1;
  height: 305px;
  background-color: #eef9f4;
}

.news ul li .img {
  width: 100%;
}

.news .con {
  height: 67px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: pink; */
  padding: 0 15px;
  font-size: 16px;
  color: #666;
}

.news .con .like {
  margin-right: 20px;
}

.news {
  margin-bottom: 60px;
}